[project]
name = "sdgen"
version = "0.0.0"
requires-python = ">=3.10"
dependencies = []

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project.scripts]
sdgen = "sdgen.main:main"
