name: Deploy to HuggingFace Space

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Push to HF Space
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git remote add space https://SanskarModi:${{ secrets.HF_TOKEN }}@huggingface.co/spaces/SanskarModi/sd-image-gen-toolkit
        git push space main --force
